
// Primary colors
$scissorsgradient: hsl(39, 89%, 49%);
$scissorsgradient2: hsl(40, 84%, 53%);
$papergradient: hsl(230, 89%, 62%); 
$papergradient2: hsl(230, 89%, 65%);
$rockgradient: hsl(349, 71%, 52%);
$rockgradient2: hsl(349, 70%, 56%);
$lizardgradient: hsl(261, 73%, 60%);
$lizardgradient2: hsl(261, 72%, 63%);
$cyan: hsl(189, 59%, 53%);
$cyan2: hsl(189, 58%, 57%);

// Neutral Colors
$darktext: hsl(229, 25%, 31%);
$scoretext: hsl(229, 64%, 46%);
$headeroutline: hsl(217, 16%, 45%);
$white: #fff;

// Background Color

$radialgradient: hsl(214, 47%, 23%);
$radialgradient2: hsl(237, 49%, 15%);

