@use './color' as *;
@use '../abstracts/' as *;

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: rem(16);
  font-family: $font-family;
}

@function rem($pixels, $context: 16){
  @return ($pixels / $context) * 1rem;
}

section{
  height: 100vh;
  background: linear-gradient($radialgradient, $radialgradient2),
  linear-gradient(to right, $radialgradient2, $radialgradient),
  linear-gradient(to left, $radialgradient2, $radialgradient)   ;
  padding: rem(45) rem(30) rem(90) rem(35);
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 9999;
}
