@use '../abstracts/' as *;
@use './color' as *;

.play-game{
  display: grid;
  grid-auto-columns: 1fr 1fr minmax(min-content, max-content);
  grid-auto-rows: minmax(min-content, max-content);
  margin: 0 auto;
  padding-top: rem(66);
  gap: rem(25) rem(66);
  background: url('/images/bg-triangle.svg') no-repeat center;
  z-index: -2;
  //transition: all 0.35s ease-in-out;
  .container{
    background: $white;
    height: rem(214);
    width: rem(210);
    border-radius: 50%;
    margin: 0 auto;
    cursor: pointer;
  }
  .rock{
    position: relative;
    grid-area: 2 / 1 / 3 / 3;
    $border: rem(25);
    border: solid $border transparent; 
    background-clip: padding-box; /* !importanté *//* !importanté */
    border-radius: 50%;
    &::before {
      margin: -$border; /* !importanté */
      @include rps-border-container;
      background: linear-gradient($rockgradient2, $rockgradient);
      border-bottom: solid rem(10) hsl(349, 75%, 33%);
    }
  }
  .scissors{
    position: relative;
    $border: rem(25);
    border: solid $border transparent; 
    background-clip: padding-box; /* !importanté *//* !importanté */
    border-radius: 50%; 
    &::before{
      margin: -$border; /* !importanté */
      @include rps-border-container;
      background: linear-gradient($scissorsgradient2, $scissorsgradient);
      border-bottom: solid rem(10) hsl(34, 89%, 38%);
    }
  }
  .paper{
    position: relative;
    $border: rem(25);
    border: solid $border transparent; 
    background-clip: padding-box; /* !importanté *//* !importanté */
    border-radius: 50%; 
    &::before{
      margin: -$border; /* !importanté */
      @include rps-border-container;
      background: linear-gradient($papergradient2, $papergradient);
      border-bottom: solid rem(10) hsl(230, 86%, 54%);
    }
  }
  .who-picks{
    display: none;
    p{
      color: $white;
      font-size: rem(22);
      padding-bottom: rem(60);
    }
  }
  #computer-choice{
    display: flex;
    color: $white;
    font-size: rem(36);
    justify-content: center;
    align-items: center;
  }
  #play-again-btn{
     display: none;
     //grid-area: 2 / 2 / 3 / 3;
     text-align: center;
     button{
        //transition: all 0.35s ease-in-out;
        font-size: rem(14);
        color: $darktext;
        letter-spacing: rem(3.5);
        padding: rem(19) rem(64.5) rem(15) rem(66.5);
        border-radius: rem(8);
        border: none;
        cursor: pointer;
     }
     button:hover{
        color: $rockgradient;
     }
     h1{
       color: $white;
       font-size: rem(46);
       padding-bottom: rem(18)
     }
  }
}

.play-game .paper,
.play-game .scissors,
.play-game .rock{
  div{
    @include rps-inner-container;
    border-top: solid rem(8) rgb(207, 211, 219);
    img{
      transform: scale(1.45);
    }
  } 
}

//-----Active States----------

.play-game .rock.not-picked,
.play-game .scissors.not-picked,
.play-game .paper.not-picked{
  display: none;
}

.play-game .rock.yes-picked,
.play-game .scissors.yes-picked,
.play-game .paper.yes-picked{
  border: none; 
  grid-area: 2 / 1 / 3 / 2;
  div img{
    transform: scale(2);
  }
} 
.play-game .rock.winner,
.play-game .scissors.winner,
.play-game .paper.winner{
  display: block; 
  border: none;
  grid-area: 2 / 3 / 3 / 4;
  div img{
    transform: scale(2);
  }
} 

// .play-game .scissors.winner::before{
//   background: linear-gradient($scissorsgradient2, $scissorsgradient);
//   border-bottom: solid rem(10) hsl(34, 89%, 38%);
// }

.play-game.yes-picked{
  background-image: none;
  padding-top: rem(172);
  column-gap: rem(75);
  #computer-choice{
    background: $radialgradient2;
    padding: rem(10) rem(10);
    border-radius: 50%;
  grid-area: 2 / 3 / 3 / 4;
  }
}


.play-game .who-picks.yes-picked{
   display: inherit;
   grid-template-columns: 1fr 1fr 1fr;
   grid-gap: inherit;
   text-align: center;
   height: max-content;
   grid-area: 1 / 1 / 2 / 4;
   p:nth-child(2){
     grid-area: 1 / 3 / 2 / 4;
   }
}

.play-game #play-again-btn.yes-picked{
   display: block;
   grid-area: 2 / 2 / 3 / 3;
}