@use '../abstracts/' as *;
@use './color' as *;

.play-game{
  display: grid;
  grid-auto-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(min-content, max-content);
  margin: 0 auto;
  gap: rem(25) rem(66);
  padding: rem(66) 0 rem(66);
  background: url('/images/bg-triangle.svg') no-repeat center;
  z-index: -2;
  transition: all 0.5s ease-in-out;
  .container{
    background: $white;
    height: rem(214);
    width: rem(210);
    border-radius: 50%;
    margin: 0 auto;
    cursor: pointer;
    //transition: all 0.35s ease-in-out;
  }
  .rock{
    position: relative;
    grid-area: 2 / 1 / 3 / 3;
    $border: rem(25);
    border: solid $border transparent; 
    background-clip: padding-box; /* !importanté *//* !importanté */
    border-radius: 50%;
    &::before {
      margin: -$border; /* !importanté */
      @include rps-border-container;
      background: linear-gradient($rockgradient2, $rockgradient);
      border-bottom: solid rem(10) hsl(349, 75%, 33%);
    }
  }
  .scissors{
    position: relative;
    $border: rem(25);
    border: solid $border transparent; 
    background-clip: padding-box; /* !importanté *//* !importanté */
    border-radius: 50%; 
    &::before{
      margin: -$border; /* !importanté */
      @include rps-border-container;
      background: linear-gradient($scissorsgradient2, $scissorsgradient);
      border-bottom: solid rem(10) hsl(34, 89%, 38%);
    }
  }
  .paper{
    position: relative;
    $border: rem(25);
    border: solid $border transparent; 
    background-clip: padding-box; /* !importanté *//* !importanté */
    border-radius: 50%; 
    &::before{
      margin: -$border; /* !importanté */
      @include rps-border-container;
      background: linear-gradient($papergradient2, $papergradient);
      border-bottom: solid rem(10) hsl(230, 86%, 54%);
    }
  }
  .who-picks{
    display: none;
    p{
      color: $white;
      font-size: rem(22);
      padding-bottom: rem(60);
    }
  }
  #computer-choice{
    display: flex;
    color: $white;
    font-size: rem(36);
    justify-content: center;
    align-items: center;
  }
  #play-again-btn{
     //display: none;
     opacity: 0;
     text-align: center;
     transition: all 0.05s linear;
     grid-area: 2 / 2 / 3 / 3;
     z-index: 0;
     button{
        font-size: rem(14);
        color: $darktext;
        letter-spacing: rem(3.5);
        padding: rem(19) rem(64.5) rem(15) rem(66.5);
        border-radius: rem(8);
        border: none;
        cursor: pointer;
     }
     button:hover{
        color: $rockgradient;
     }
     h1{
       color: $white;
       font-size: rem(46);
       padding-bottom: rem(18)
     }
  }
}

#overlay{
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  //background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  //cursor: pointer; /* Add a pointer on hover */
}

#overlay.yes-picked{
  display: block;
}

.play-game .paper,
.play-game .scissors,
.play-game .rock{
  div{
    @include rps-inner-container;
    border-top: solid rem(8) rgb(207, 211, 219);
    img{
      transform: scale(1.45);
    }
  } 
}

//-----Active States----------

.play-game .rock.not-picked,
.play-game .scissors.not-picked,
.play-game .paper.not-picked{
  //display: none;
  opacity: 0;
  height: 0%;
  width: 0%;
  position: absolute;
}

.play-game .rock.yes-picked,
.play-game .scissors.yes-picked,
.play-game .paper.yes-picked{
  border: none; 
  grid-area: 2 / 1 / 3 / 2;
  transition: all 0.25s ease-in-out;
  div img{
    transform: scale(2);
  }
} 
.play-game .rock.winner,
.play-game .scissors.winner,
.play-game .paper.winner{
  //display: inherit; 
  opacity: 1;
  border:hidden;
  grid-area: 2 / 3 / 3 / 4;
  transition: all 0.25s ease-in-out;
  div img{
    transform: scale(2);
  }
} 
.play-game .rock.win-animation,
.play-game .scissors.win-animation,
.play-game .paper.win-animation{
    //background: transparent;
    box-shadow: 0 0 0 0 $rockgradient;
    animation: pulse 1.35s infinite;
  @keyframes pulse{
    0% {
      box-shadow: 0 0 0 0 hsla(0, 0%, 100%, 0.06),
                  0 0 0 0 hsla(0, 0%, 100%, 0.05),
                  0 0 0 0 hsla(0, 0%, 100%, 0.04);
    }
    100% {
      box-shadow: 0 0 0 100px hsla(0, 0%, 100%, 0.04),
                  0 0 0 200px hsla(0, 0%, 100%, 0.03),
                  0 0 0 300px hsla(0, 0%, 100%, 0.02);
    }
  }
}

.play-game.yes-picked{
  background-image: none;
  padding-top: rem(82);
  column-gap: rem(75);
  z-index: 0;
  #computer-choice{
    background: $radialgradient2;
    padding: rem(10) rem(10);
    border-radius: 50%;
    z-index: -2;
    grid-area: 2 / 3 / 3 / 4;
  }
}


.play-game .who-picks.yes-picked{
   display: inherit;
   //opacity: 1;
   grid-template-columns: 1fr 1fr 1fr;
   grid-gap: inherit;
   text-align: center;
   height: max-content;
   grid-area: 1 / 1 / 2 / 4;
   p:nth-child(2){
     grid-area: 1 / 3 / 2 / 4;
   }
}

#play-again-btn.yes-picked{
   //display: block;
   opacity: 1;
   grid-area: 2 / 2 / 3 / 3;
   z-index: 1000;
}

//-------------------breakpoints-----------------

.play-game {
  @include breakpoint-down(phone){
  padding-top: rem(126);
  .container{
    height: rem(175);
    width: rem(175);
  }
  .rock div img,
  .scissors div img,
  .paper div img{
    transform: scale(1.5);
  }
  .rock, 
  .paper,
  .scissors{
    $border: rem(16);
    border: solid $border transparent;
    &::before {
      margin: -$border; /* !importanté */
    }
  }
  .rock.winner, 
  .paper.winner,
  .scissors.winner{
    grid-area: 2 / 2 / 3 / 3;
  }
  .rock.yes-picked, 
  .paper.yes-picked,
  .scissors.yes-picked{
    //border: solid;
    div img{
      transform: scale(1.5);
    }

  }
  &.yes-picked{
    column-gap: rem(150);
    padding: rem(66) 0 rem(66);
  }
  #play-again-btn.yes-picked{
    grid-area: 3 / 1 / 4 / 3;
  }
  &.yes-picked #computer-choice{
    grid-area: 2 / 2 / 3 / 3;
    height: rem(185);
    width: rem(185);
  }
  .who-picks.yes-picked{
    grid-template-columns: 1fr 1fr;
    grid-area: 1 / 1 / 2 / 3;
    p:nth-child(2){
      grid-area: 1 / 2 / 2 / 3;
    }
  }
  }
}

.play-game .rock.win-animation,
.play-game .scissors.win-animation,
.play-game .paper.win-animation{
    //background: transparent;
  @include breakpoint-down(phone){
  @keyframes pulse{
    0% {
      box-shadow: 0 0 0 0 hsla(0, 0%, 100%, 0.06),
                  0 0 0 0 hsla(0, 0%, 100%, 0.05),
                  0 0 0 0 hsla(0, 0%, 100%, 0.04);
    }
    100% {
      box-shadow: 0 0 0 65px hsla(0, 0%, 100%, 0.04),
                  0 0 0 120px hsla(0, 0%, 100%, 0.03),
                  0 0 0 180px hsla(0, 0%, 100%, 0.02);
    }
  }
}
}

.play-game{
  @include breakpoint-down(smallphone){
    padding: rem(96) 0 rem(96);
    gap: rem(16) rem(52);
    background-position: center center;
    background-size: 70%;
    background-repeat: no-repeat;
    .container{
      height: rem(130);
      width: rem(131);
    }
    .rock div img,
    .scissors div img,
    .paper div img{
      transform: scale(0.95);
    }
    .rock.yes-picked, 
    .paper.yes-picked,
    .scissors.yes-picked{
      grid-area: 1 / 1 / 2 / 2;
      div img{
        transform: scale(0.95);
      }
    }
    &.yes-picked{
      column-gap: rem(50);
    }
    &.yes-picked #computer-choice{
      grid-area: 1 / 2 / 2 / 3;
      height: rem(125);
      width: rem(125);
    }
    .rock.winner, 
    .paper.winner,
    .scissors.winner{
      grid-area: 1 / 2 / 2 / 3;
      div img{
        transform: scale(0.95);
      }
    }
    #play-again-btn{
      grid-area: 2 / 1 / 3 / 3;
      z-index: -2;
    }
    #play-again-btn.yes-picked{
      z-index: 4;
    }
    .who-picks.yes-picked{
      padding-top: rem(28);
      grid-area: 2 / 1 / 3 / 3;
    }
  }
}